* {
    box-sizing: border-box;
}

#gridButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 3px solid rgb(15, 128, 0);
  padding: 10px;
  }

.bigBox {
    display: flex;
    flex-wrap: wrap;
    width: 600px; /* Fixed width for the container */
    height: 600px; /* Fixed height for the container */
    border: 1px solid rgb(202, 187, 187);
    margin-left: auto;
    margin-right: auto;
  }

  .babyDiv {
    background-color: white;
  }
  
  .bigBox>div:nth-child(16n + 1) {
    width: 100%;
    height: 0;
    border: 0;
  }